{% block glavweb_uploader_dropzone_widget %}
    <div class="gwu gwu-dropzone {{ uploaderOptions.uploaderClass }}">
        <input type="hidden" name="_glavweb_uploader_request_id" value="{{ requestId }}">
        <input type="hidden" name="_glavweb_uploader_sorted_array[{{ uploaderOptions.type }}]" id = "dz-sorted-array" value="">

        <div id="{{ uploaderOptions.dropzoneContainer[1:] }}" class="js-gwu-dropzone">
            {% include 'GlavwebUploaderDropzoneBundle:Form/form:' ~ uploaderOptions.formViewType ~ '.html.twig' %}
        </div>

        {% include 'GlavwebUploaderDropzoneBundle:Form/item:base.html.twig'  %}

        <div id="{{ dropzoneOptions.previewsContainer[1:] }}" class="dropzone previews gwu-previews"></div>
    </div>

    {% block glavweb_uploader_dropzone_widget__madal %}
        {% include 'GlavwebUploaderDropzoneBundle:Form/modal:popup.html.twig' %}
    {% endblock %}

    {% block glavweb_uploader_dropzone_widget__stylesheet %}{% endblock %}

    {% block glavweb_uploader_dropzone_widget__script %}
        <script type="text/javascript">
            (function ($) {
                $(document).ready(function (e) {
                    var $uploader = $('{{ dropzoneOptions.previewsContainer }}');

                    $uploader.glavwebUploaderDropzone({
                        uploaderOptions: {{ uploaderOptions|json_encode()|raw }},
                        dropzoneOptions: {{ dropzoneOptions|json_encode()|raw }}
                    });

                    {% for media in files %}
                        {% set imgSrc = media|glavweb_uploader_thumbnail %}
                        $uploader.glavwebUploaderDropzone('addFile','{{ media.name }}', {{ media.id }}, '{{ imgSrc }}', {{ media.contentSize }} );
                    {% endfor %}
                });
            })(jQuery);
        </script>
    {% endblock %}

{% endblock %}